<!DOCTYPE html>
<html lang="en">
<head><title>Home</title>
<link rel="stylesheet" type="text/css" href="bootstrap.min.css">
<link rel="stylesheet" href="css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="styles.css">
</head>
 <body id="body">
  <div id="main">
    <div id="main-panel" class="row" >
	<div class="col-md-8">Shopping Lists</div>
	   <div class="col-md-4">
     <form>
	 <input type="button" name="logoutEdit" value="Logout">
	</form>
	</div>
	</div>
	
	<div id="main-backgrnd">
	 <div id="signup-panel"> 
	 <div id="name-holder"  class="panel-heading"><div id="form-name">My Shopping Lists
	 </div>
	   
	   <div class="col-md-4">
	   <i class="fa fa-plus-square" aria-hidden="true"></i>
	  </div>
	  </div>
	   
	
	
	<div class="list-group">
  <a href="view_items.html" class="list-group-item">Anns list</a>
  <a href="#" class="list-group-item">Second list</a>
  <a href="#" class="list-group-item">Third list</a>
	</div>
	</div>
	</div>
  </div>
 </body>
